
@font-face {
	font-family: 'PT_Sans-Web-Regular';
	src: url('@/assets/fonts/PT_Sans-Web-Regular.ttf')
  }

*{
	margin: 0;
	padding: 0;
	font-family: 'PT_Sans-Web-Regular' !important;
	color: var(--black);
	box-sizing: border-box;
}

:root{
	--yellow: #ffde23;
	--white: #e9eaed;
	--gray: #aaaaaa;
	--dark-gray: #8e8e92;
	--black: #252422;

}